[submodule "DataFeeds/lib/forge-std"]
	path = DataFeeds/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DataFeeds/lib/chainlink"]
	path = DataFeeds/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "DataFeeds/lib/openzeppelin-contracts"]
	path = DataFeeds/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
